beautifulsoup4
datasets
gradio
ipykernel
ipywidgets
matplotlib
nbformat
modal
numpy
openai
pandas
protobuf
psutil
pydub
python-dotenv
requests
scikit-learn
scipy
groq
xgboost
selenium